@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #4C0000;
    padding-top: 20px;
    padding-bottom: 20px;
}

li {
    list-style-type: none;
}

table {
    margin-bottom: 30px;
}

th {
    padding-left: 10px;
    padding-right: 10px;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}

label {
    margin-right: 20px;
    margin-bottom: 10px;
}

.mybtn{
    color: white;
    background-color: #4C0000;
}
.mybtn:hover{
    color: #4C0000;
    background-color: white;
}

ul{
    padding: 0px;
    margin: 0px;
}